<div class="introduce-box flex flex-center">
	<div>
		<h2>简介信息修改</h2>
		<%= form_for [:admin,@about] do |f| %>
			<div>
				<%= f.text_field :introduce, placeholder: "作者简介..." %>
			</div>
			<div>
				<%= f.text_field :knowledge, placeholder: "技术知识..." %>
			</div>
			<div>
				<%= f.text_area :exception, placeholder: "职业经历...(eg:<p>...<p>)" %>
			</div>
			<div>
				<%= f.text_area :contact, placeholder: "联系方式...(eg:<p>...<p>)" %>
			</div>
			<div>
				<%= f.submit "简介修改提交",class: 'buttonStyle1' %>
			</div>
		<% end %>
	</div>
	<p class="close"><span class="fa fa-close fa-fw"></span></p>
</div>