<div class="message-box flex flex-center">
	<div>
		<h2>欢迎来信</h2>
		<%= form_for(@message,url: messages_path) do |f| %>
			<% if logged_in? %>
				<div>
					<%= f.text_field :name, value: "#{current_user.name}" %>
				</div>
				<div>
					<%= f.email_field :email, value: "#{current_user.email}" %>
				</div>
			<% else %>
				<div>
					<%= f.text_field :name, placeholder: 'Your name...' %>
				</div>
				<div>
					<%= f.email_field :email, placeholder: 'Your email...' %>
				</div>
			<% end %>
			<div>
				<%= f.text_field :message_type, placeholder: 'MessageType, eg: 问题 or 其他...(最多8个字)' %>
			</div>
			<div>
				<%= f.text_area :content %>
			</div>
			<div>
				<%= f.submit "信件送抵",class: 'buttonStyle1' %>
			</div>
		<% end %>
	</div>
	<p class="close"><span class="fa fa-close fa-fw"></span></p>
</div>