<header>
	<div class="container flex">
		<div class="flex">
			<div class="logo">
				<h1><%= link_to root_path do %><span>Read</span>Time<% end %></h1>
			</div>
			<nav>
				<ul class="flex flex-center">
					<li><%= link_to '首页',root_path %></li>
					<li><%= link_to '简介',about_path %></li>
				</ul>
			</nav>
			<div class="search">
				<%= render 'generalPurpose/search', route: root_path %>
			</div>
		</div>
		<div class="session-box flex flex-center">
			<a class="button buttonStyle1 message">写信</a>
			<% if logged_in? %>
				<%= link_to '退出登陆',logout_path,class: 'button buttonStyle2', method: :delete %>
			<% else %>
				<%= link_to '立即登陆',login_path,class: 'button buttonStyle2' %>
			<% end %>		
		</div>
	</div>
</header>