<% provide(:title,'Home') %>
<div class="container flex">
	<div class="left-list">
		<div class="tags flex">
			<ul class="flex">
				<li><%= link_to '全部内容',root_path %></li>
				<li><%= link_to "#{@tags.first.try(:name)}",root_path(tag: @tags.first.try(:name)) %></li>
				<li><a class="more"><span class="fa fa-plus-square fa-fw"></span> more</a></li>
			</ul>
			<div class="sort flex">
				<ul class="flex sort">
					<li>
						<%= link_to root_path(sort: 1,tag: @tag,search: @search) do %>
							<span class="fa fa-exchange fa-fw"></span>时间升序
						<% end %>
					</li> | 
					<li>
						<%= link_to '时间降序', root_path(sort: 2,tag: @tag,search: @search) %>
					</li>
				</ul>
			</div>
			<div class="down-tags">
				<ul class="flex">
					<% @tags.each do |tag| %>
						<li><%= link_to root_path(tag: tag.name) do %><%= tag.name %><% end %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="post-list">
			<ul>
				<% if @posts.count > 0 %>
					<% @posts.each do |post| %>
						<li>
							<div class="post-data">
								<p class="tag">贴文标签: <% post.tags.each do |tag| %><%= tag.name %><% end %></p>
								<div class="img flex">
									<%= image_tag('pic.jpg') %>
									<span>author: <%= post.administrator.name %></span>
									<span>created_at: <%= time_now(post.created_at) %></span>
								</div>
								<div class="pd">
									<h3><%= link_to post do %><%= post.title %><% end %></h3>
									<p><%= truncate(strip_tags(post.content),length:140,separate: '') %></p>
								</div>
								<div class="post-control">
									<ul class="flex">
										<li class="vote">
											<%= link_to posts_vote_path(post_id: post.id),class:'active' do %>
												<span class="fa fa-star fa-fw"></span><%= count(post.votes.count) %> 支持
											<% end %>
										</li>
										<li><a><span class="fa fa-eye fa-fw"></span><%= count(post.views.count) %> 浏览</a></li>
										<li class="comments"><a><span class="fa fa-comment fa-fw"></span><%= post.comments.count %> 评论</a></li>
									</ul>
								</div>
								<div class="comment">
									<h3 class="flex">
										<p>Posts共<span class="color"><%= post.comments.count %></span>条评论</p>
										<p class="close"><span class="fa fa-close fa-fw"></span></p>
									</h3>
									<div class="comment-list">
										<ul>
											<% post.comments.each do |comment| %>
											<li>
												<div class="img flex">
													<%= image_tag(image_show(comment.user)) %>
													<span>User: <%= comment.user.name %></span>
													<span>date: <%= time_now(comment.created_at) %></span>
												</div>
												<p><%= comment.content %></p>
											</li>
											<% end %>
										</ul>
									</div>
									<div class="comment-send">
										<%= form_for @comment do |f| %>
											<div class="flex">
												<%= f.hidden_field :post_id, value: post.id %>
												<%= f.text_field :content, placeholder: '评论请注意说辞...' %>
												<%= f.submit "评论",class: 'buttonStyle2' %>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</li>
					<% end %>
				<% else %>
					<li>没有相关的贴文,敬请期待</li>
				<% end %>
			</ul>
		</div>
	</div>
	<%= render 'generalPurpose/right_other' %>
</div>