<% provide(:title,'Sign') %>
<%= render 'generalPurpose/error_message' %>
<%= form_for(@user,url: sign_path) do |f| %>
	<div>
		<%= f.text_field :name,placeholder: '请输入你的账号...' %>
	</div>
	<div>
		<%= f.email_field :email,placeholder: '请输入你的邮箱...' %>
	</div>
	<div>
		<%= f.password_field :password,placeholder: '请输入你的密码...' %>
	</div>
	<div>
		<%= f.password_field :password_confirmation,placeholder: '请输入你的密码...' %>
	</div>
	<div>
		<%= f.submit "快速注册",class: 'buttonStyle1' %>
	</div>	
<% end %>