<% provide(:title,"#{current_user.name}") %>
<div class="container">
	<div class="aboutTop">
		<div class="aboutBg">
		</div>
		<div class="authorImg">
			<%= image_tag(image_show(current_user)) %>
		</div>
		<div class="authorData uData">
			<h2><strong><%= current_user.name %></strong><span>Created at: <%= time_now(current_user.created_at) %><span class="fa fa-gg fa-fw"></span></span></h2>
			<p>Email: <%= current_user.email %></p>
		</div>
	</div>
	<div class="aboutContent">
		<div class="authorException">
			<div>
				<h3>参与过的评论<span>(comments had written)</span></h3>
			</div>
		</div>
		<div class="post-list">
			<ul>
				<% if current_user.comments.count > 0 %>
					<% current_user.comments.each do |comment| %>
					<li>
						<div class="post-data">
							<div class="pd">
								<h3 class="flex pl">
									<a href="#"><strong>For:</strong> <%= comment.post.title %></a>
								</h3>
							</div>
							<div class="img flex">
								<span>Create at: <%= time_now(comment.created_at) %></span>
							</div>
							<div class="cc">
								<p><%= comment.content %></p>
							</div>
						</div>
					</li>
					<% end %>
				<% else %>
					<li>用户暂未评论任何帖文.</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>