<% provide(:title,'Post') %>
<div class="container flex">
	<div class="left-list">
		<div class="tags flex">
			<ul class="flex">
				<li>
					<h3>
						<span class="fa fa-wheelchair-alt fa-fw"></span>
						<span class="pls">All Posts' Data</span>
					</h3>
				</li>
			</ul>
			<div class="sort flex">
				<ul class="flex sort">
					<li><a class="button buttonStyle1 post-create">创建帖文</a></li>
				</ul>
			</div>
			<div class="down-tags">
				<ul class="flex">
					<li><a href="#">暂无其他...</a></li>
				</ul>
			</div>
		</div>
		<div class="post-list">
			<ul>
				<% @posts.each do |post| %>
					<li>
						<div class="post-data">
							<div class="pd">
								<h3 class="flex pl tag">
									帖文所属标签:
									<strong style="padding-left: 5px;">
										<% post.tags.each do |tag| %>
											<%= tag.name %>
										<% end %>
									</strong>
									<span class="flex">
										<span>
											<a href="#" class="button"><span class="fa fa-chain fa-fw"></span></a>
											<%= link_to admin_post_path(post),class: 'button' do %>
												<span class="fa fa-edit fa-fw"></span>
											<% end %>
											<%= link_to admin_post_path(post),class: 'button',method: :delete,data:{confirm:"是否确定删除#{post.title}?"} do %>
												<span class="fa fa-trash fa-fw"></span>
											<% end %>
										</span>
									</span>
								</h3>
							</div>
							
							<div class="img flex">
								<%= image_tag('pic.jpeg') %>
								<span>author: <%= post.administrator.name %></span>
								<span>created_at: <%= time_now(post.created_at) %></span>
							</div>
							<div class="pd">
								<h3 class="flex tag">
									<%= link_to admin_post_path(post) do%>
										<%= post.title %>
									<% end %>
								</h3>
								<p><a><%= truncate(strip_tags(post.content),length:140,separate: '') %></a></p>
							</div>
							<div class="post-control">
								<ul class="flex">
									<li class="vote"><a class="active"><span class="fa fa-star fa-fw"></span><%= count(post.votes.count) %></a></li>
									<li><a><span class="fa fa-eye fa-fw"></span><%= count(post.views.count) %></a></li>
									<li class="comments"><a><span class="fa fa-comment fa-fw"></span><%= post.comments.count %>条评论</a></li>
								</ul>
							</div>
							<div class="comment">
								<h3 class="flex">
									<p>Posts共<span class="color"><%= post.comments.count %></span>条评论</p>
									<p class="close"><span class="fa fa-close fa-fw"></span></p>
								</h3>
								<div class="comment-list">
									<ul>
										<% post.comments.each do |comment| %>
											<li>
												<div class="img flex">
													<%= image_tag('pic.jpeg') %>
													<span>User: <%= comment.user.name %></span>
													<span>date: <%= time_now(comment.created_at) %></span>
												</div>
												<p><%= comment.content %></p>
											</li>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<%= render 'generalPurpose/right_admin' %>
</div>
<%= render 'generalPurpose/post_create' %>