<% provide(:title,"#{@post.title}") %>
<div class="container flex">
	<div class="left-list">
		<div class="tags flex">
			<ul class="flex">
				<li>
					<h3>
						<span class="fa fa-bookmark fa-fw"></span>
						<span class="pls"><%= @post.title %></span>
					</h3>
				</li>
			</ul>
		</div>
		<div class="post-list">
			<ul>
				<li>
					<div class="post-data">
						<div class="pd">
							<h3 class="flex pl">
								<a href="#">Create at: <%= time_now(@post.created_at) %></a>
								<span>
									<a class="buttonStyle2 button post-create"><span class="fa fa-edit fa-fw"></span></a>
									<%= link_to admin_post_path(@post),class: 'button buttonStyle2',method: :delete,data:{confirm:"是否确定删除#{@post.title}?"} do %>
										<span class="fa fa-trash fa-fw"></span>
									<% end %>
								</span>
							</h3>
						</div>
						<div class="img flex">
							<%= image_tag('pic.jpg') %>
							<span><strong>Name:</strong> <%= @post.administrator.name %></span>
							<span>
								<strong>Tag:</strong> 
								<% @post.tags.each do |tag| %>
									<%= tag.name %>
								<% end %>
							</span>
						</div>
						<div class="cc pc">
							<p><%= @post.content.html_safe %></p>
						</div>
						<div class="post-control">
							<ul class="flex">
								<li class="vote"><a class="active"><span class="fa fa-star fa-fw"></span><%= count(@post.votes.count) %> 支持</a></li>
								<li><a><span class="fa fa-eye fa-fw"></span><%= count(@post.views.count) %> 浏览</a></li>
								<li class="comments"><a><span class="fa fa-comment fa-fw"></span><%= @post.comments.count %> 评论</a></li>
							</ul>
						</div>
						<div class="comment" style="display: block;">
							<h3 class="flex">
								<p>Posts共<span class="color"><%= @post.comments.count %></span>条评论</p>
								<p class="close"><span class="fa fa-close fa-fw"></span></p>
							</h3>
							<div class="comment-list">
								<ul>
									<% @post.comments.each do |comment| %>
										<li>
											<div class="img flex">
												<%= image_tag(image_show(comment.user)) %>
												<span>User: <%= link_to "#{comment.user.name}",admin_user_path(comment.user) %></span>
												<span>date: <%= time_now(comment.created_at) %></span>
											</div>
											<p><%= comment.content %></p>
										</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<%= render 'generalPurpose/right_admin' %>
</div>
<%= render 'generalPurpose/post_create' %>