<% provide(:title,'User') %>
<div class="container flex">
	<div class="left-list">
		<div class="tags flex">
			<ul class="flex">
				<li>
					<h3>
						<span class="fa fa-wheelchair-alt fa-fw"></span>
						<span class="pls">All Users' Data</span>
					</h3>
				</li>
				<div class="flex">
					<%= link_to admin_all_users_delete_path	,class: 'button buttonStyle1',method: :delete,data:{confirm:"确定要删除所有注册用户吗?"} do %>
						<span class="fa fa-trash fa-fw"></span>Delete
					<% end %>
				</div>
			</ul>
			<div class="down-tags">
				<ul class="flex">
					<li><a href="#">暂无其他...</a></li>
				</ul>
			</div>
		</div>
		<div class="post-list">
			<ul>
				<% @users.each do |user| %>
				<li>
					<div class="post-data">
						<div class="pd">
							<h3 class="flex pl">
								<%= link_to admin_user_path(user) do %>
									Create at: <%= time_now(user.created_at) %>
								<% end %>
								<span>
									<% if user.try(:activated) %>
										<%= link_to admin_change_user_admin_path(id: user.id,admin_status: user.admin),class: 'buttonStyle3 button'  do %>
											<span class="fa fa-link fa-fw"></span>
										<% end %>
									<% else %>
										<a class="button buttonStyle3">未激活</a>
									<% end %>
									<%= link_to admin_user_path(user),class: 'buttonStyle3 button' do %>
										<span class="fa fa-eye fa-fw">
									<% end %>
									<%= link_to admin_user_path(user),class: 'buttonStyle3 button',method: :delete,data:{confirm: "确认删除#{user.name}吗？"} do %>
										<span class="fa fa-trash fa-fw">
									<% end %>
								</span>
							</h3>
						</div>
						<div class="img flex">
							<%= image_tag(image_show(user),class: "middleImg") %>
							<div>
								<span><strong>Name:</strong> <%= user.name %></span>
								<span><strong>Email:</strong> <%= user.email %></span>
							</div>
						</div>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<%= render 'generalPurpose/right_admin' %>
</div>