<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= yield(:title) %> | It's Time For Reading.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'generalPurpose/shim' %>
  </head>

  <body>
    <%= render 'generalPurpose/flash' %>
    <%= render 'generalPurpose/font_header' %>
	
  	<div class="content">
  		<%= yield %>
  	</div>
    <%= render 'generalPurpose/dashboard' %>
    <%= render 'generalPurpose/font_message' %>
  </body>
</html>
